### Dataset

In [1]:
# Dataset: Social_Network_Ads.csv
# Location: https://mitu.co.in/mitu

### import the libraries

In [2]:
import pandas as pd

### Read the data

In [3]:
df = pd.read_csv('social_Network_Ads.csv')

In [4]:
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
5    15728773    Male  27.0          58000.0          0
6    15598044  Female  27.0          84000.0          0
7    15694829  Female  32.0         150000.0          1
8    15600575    Male  25.0          33000.0          0
9    15727311  Female  35.0          65000.0          0
10   15570769  Female  26.0          80000.0          0
11   15606274  Female  26.0          52000.0          0
12   15746139    Male  20.0          86000.0          0
13   15704987    Male  32.0          18000.0          0
14   15628972    Male  18.0          82000.0          0
15   15697686    Male  29.0          80000.0          0
16   15733883    Male  47.0          25000.0          1
17   15617482    Male  45.0          26000.0          1
18   15704583    Male  46.0          28000.0          1
19   15621083  Female  48.0          29000.0          1
20   15649487    Male  45.0          22000.0          1
21   15736760  Female  47.0          49000.0          1
22   15714658    Male  48.0          41000.0          1
23   15599081  Female  45.0          22000.0          1
24   15705113    Male  46.0          23000.0          1
25   15631159    Male  47.0          20000.0          1
26   15792818    Male  49.0          28000.0          1
27   15633531  Female  47.0          30000.0          1
28   15744529    Male  29.0          43000.0          0
29   15669656    Male  31.0          18000.0          0
..        ...     ...   ...              ...        ...
370  15611430  Female  60.0          46000.0          1
371  15774744    Male  60.0          83000.0          1
372  15629885  Female  39.0          73000.0          0
373  15708791    Male  59.0         130000.0          1
374  15793890  Female  37.0          80000.0          0
375  15646091  Female  46.0          32000.0          1
376  15596984  Female  46.0          74000.0          0
377  15800215  Female  42.0          53000.0          0
378  15577806    Male  41.0          87000.0          1
379  15749381  Female  58.0          23000.0          1
380  15683758    Male  42.0          64000.0          0
381  15670615    Male  48.0          33000.0          1
382  15715622  Female  44.0         139000.0          1
383  15707634    Male  49.0          28000.0          1
384  15806901  Female  57.0          33000.0          1
385  15775335    Male  56.0          60000.0          1
386  15724150  Female  49.0          39000.0          1
387  15627220    Male  39.0          71000.0          0
388  15672330    Male  47.0          34000.0          1
389  15668521  Female  48.0          35000.0          1
390  15807837    Male  48.0          33000.0          1
391  15592570    Male  47.0          23000.0          1
392  15748589  Female  45.0          45000.0          1
393  15635893    Male  60.0          42000.0          1
394  15757632  Female  39.0          59000.0          0
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [5]:
df.shape

(400, 5)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train, test = train_test_split(df)

In [10]:
train.shape

(300, 5)

In [11]:
test.shape

(100, 5)

In [12]:
train

      User ID  Gender   Age  EstimatedSalary  Purchased
292  15625395    Male  55.0          39000.0          1
329  15639576  Female  47.0         107000.0          1
167  15614827  Female  35.0          71000.0          0
368  15779744    Male  38.0          71000.0          0
102  15584545  Female  32.0          86000.0          0
384  15806901  Female  57.0          33000.0          1
44   15715541  Female  28.0          84000.0          0
166  15762228  Female  22.0          55000.0          0
64   15605000  Female  59.0          83000.0          0
310  15717893  Female  42.0          70000.0          0
171  15570932    Male  34.0         115000.0          0
226  15795224  Female  36.0         126000.0          1
200  15628523    Male  35.0          39000.0          0
25   15631159    Male  47.0          20000.0          1
161  15670619    Male  25.0          90000.0          0
332  15769902    Male  42.0          65000.0          0
396  15706071    Male  51.0          23000.0          1
177  15594577    Male  25.0          22000.0          0
16   15733883    Male  47.0          25000.0          1
303  15637593    Male  37.0          79000.0          1
40   15764419  Female  27.0          17000.0          0
138  15610403  Female  28.0          59000.0          0
105  15801658    Male  21.0          72000.0          0
238  15617877  Female  46.0          82000.0          0
285  15734161  Female  37.0          93000.0          1
243  15769596  Female  56.0         104000.0          1
304  15598070  Female  40.0          60000.0          0
233  15614187    Male  49.0          86000.0          1
337  15612465    Male  35.0          79000.0          0
379  15749381  Female  58.0          23000.0          1
..        ...     ...   ...              ...        ...
206  15654230  Female  55.0         130000.0          1
325  15695679  Female  41.0          60000.0          0
220  15789432  Female  41.0          80000.0          0
336  15664907    Male  58.0         144000.0          1
213  15657163    Male  35.0          58000.0          0
150  15679651  Female  26.0          15000.0          0
57   15807481    Male  28.0          79000.0          0
10   15570769  Female  26.0          80000.0          0
314  15747097  Female  39.0          79000.0          0
198  15745083    Male  26.0          80000.0          0
317  15684861    Male  35.0          55000.0          0
358  15573926    Male  40.0          71000.0          1
300  15736397  Female  58.0          38000.0          1
264  15600379    Male  48.0          90000.0          1
164  15697574  Female  33.0          69000.0          0
284  15638646    Male  48.0         141000.0          0
17   15617482    Male  45.0          26000.0          1
61   15673619    Male  25.0          87000.0          0
158  15762605    Male  26.0          30000.0          0
197  15680243  Female  20.0          36000.0          0
222  15694879    Male  37.0         144000.0          1
45   15639277    Male  23.0          20000.0          0
278  15613014  Female  52.0          38000.0          1
100  15766289    Male  27.0          88000.0          0
387  15627220    Male  39.0          71000.0          0
93   15699284  Female  29.0          28000.0          0
270  15680752  Female  43.0         133000.0          0
36   15690188  Female  33.0          28000.0          0
20   15649487    Male  45.0          22000.0          1
115  15689237    Male  40.0          57000.0          0

[300 rows x 5 columns]

In [13]:
test

      User ID  Gender   Age  EstimatedSalary  Purchased
248  15730688    Male  41.0          52000.0          0
339  15665760    Male  39.0         122000.0          1
46   15798850    Male  25.0          79000.0          0
393  15635893    Male  60.0          42000.0          1
330  15693264    Male  38.0          51000.0          0
34   15724858    Male  27.0          90000.0          0
373  15708791    Male  59.0         130000.0          1
49   15793813  Female  31.0          89000.0          0
62   15595135  Female  23.0          66000.0          0
68   15577178  Female  22.0          63000.0          0
365  15807525  Female  59.0          29000.0          1
240  15701537    Male  42.0         149000.0          1
107  15789863    Male  27.0          89000.0          0
0    15624510    Male  19.0          19000.0          0
382  15715622  Female  44.0         139000.0          1
356  15778368    Male  54.0          70000.0          1
296  15673539    Male  42.0          73000.0          1
141  15666141  Female  18.0          68000.0          0
319  15623502    Male  36.0          60000.0          0
210  15724536  Female  48.0          96000.0          1
308  15596761    Male  36.0         125000.0          1
97   15582492    Male  28.0         123000.0          1
323  15619465  Female  48.0          30000.0          1
84   15798659  Female  30.0          62000.0          0
305  15787550    Male  42.0          54000.0          0
203  15809347  Female  41.0          71000.0          0
28   15744529    Male  29.0          43000.0          0
148  15779862    Male  29.0          61000.0          0
369  15624755  Female  54.0          26000.0          1
202  15735549  Female  39.0         134000.0          1
..        ...     ...   ...              ...        ...
162  15599533  Female  37.0          33000.0          0
113  15773447    Male  37.0          55000.0          0
156  15791174    Male  46.0          59000.0          0
106  15706185  Female  26.0          35000.0          0
190  15730448    Male  24.0          84000.0          0
55   15649136  Female  24.0          55000.0          0
147  15749130  Female  41.0          30000.0          0
350  15800515  Female  38.0         113000.0          1
191  15662067  Female  19.0          26000.0          0
231  15694453    Male  39.0          42000.0          0
326  15713463    Male  41.0          72000.0          0
320  15774872  Female  52.0         138000.0          1
155  15610140  Female  31.0          15000.0          0
302  15720745  Female  37.0         137000.0          1
39   15782806  Female  27.0          31000.0          0
146  15750839  Female  27.0          96000.0          1
99   15756820  Female  28.0          37000.0          0
83   15711218    Male  35.0          88000.0          0
230  15794253  Female  35.0         147000.0          1
179  15673367  Female  31.0          34000.0          0
15   15697686    Male  29.0          80000.0          0
153  15619087  Female  36.0          50000.0          0
386  15724150  Female  49.0          39000.0          1
371  15774744    Male  60.0          83000.0          1
279  15759684  Female  50.0          36000.0          1
205  15766609  Female  47.0          47000.0          0
189  15715160    Male  28.0          32000.0          0
145  15746422  Female  24.0          89000.0          0
89   15682268    Male  35.0          50000.0          0
311  15622585    Male  39.0          96000.0          1

[100 rows x 5 columns]

In [14]:
train, test = train_test_split(df, random_state=0, test_size=0.20)

In [15]:
train.shape

(320, 5)

In [17]:
test.shape

(80, 5)

In [18]:
train, test = train_test_split(df, random_state=0, train_size=0.65)

C:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [19]:
train.shape

(260, 5)

In [20]:
test.shape

(140, 5)

In [23]:
x = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [24]:
x.shape

(400, 2)

In [25]:
y.shape

(400,)

In [28]:
x_train, y_train, x_test, y_test = train_test_split(x, y, random_state=0)

In [29]:
x_train.shape

(300, 2)

In [30]:
y_train.shape

(100, 2)

In [31]:
x_test.shape

(300,)

In [33]:
y_test.shape

(100,)